body{
    margin: 0;
    background-color: rgb(245, 58, 25);
}

*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

nav{
    background-color: rgb(53, 53, 53);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px;
}

nav > ul{
    margin: 0;
    padding: 10px;
}

nav > ul > li{
    display: inline-block;
}

form{
    padding: 20px;
}

form > input,form > button, form > select{
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    box-shadow: 0 0 3px;
}

.grid{
    height: calc(100vh - 74px);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 18.5vw;
    background-color: rgb(245, 58, 25);
    padding: 5px;
    margin-top:74px
}

#quantity{
    width: 130px;
}

.video-card{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin:5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 78% 20%;
    transition-duration: 200ms;
    font-size: 0.8vw;
}

.video-card:hover{
    box-shadow: 0 0 5px;
}

.video-card > .thumbnail > img{
    width: 100%
}

.video-card > .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#searchField{
    width: 240px;
}

a{
    text-decoration: none;
    color:rgb(59, 59, 59);
    transition-duration: 200ms;
}

a:hover{
    text-decoration: none;
    color:black;
}